@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
body {
    color: #fff;
    background-color: #0e0e0e;
}.main {
    overflow: hidden;
}body.page-boxed {
    max-width: 1200px;
    margin: 0 auto;
}a {
    color: #e08821;
}a:focus,
a:hover {
    color: #b56d19;
}::-moz-selection {
    color: #2d2d2d;
    background: rgba(255, 255, 255, 0.9);
}::selection {
    color: #2d2d2d;
    background: rgba(255, 255, 255, 0.9);
}.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}.bg-image > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
.page-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e0e0e;
    z-index: -1;
}.gap,
.gap-1,
.gap-2,
.gap-3,
.gap-4,
.gap-5,
.gap-6 {
    display: block;
    height: 20px;
}.gap:after, .gap:before,
.gap-1:after,
.gap-1:before,
.gap-2:after,
.gap-2:before,
.gap-3:after,
.gap-3:before,
.gap-4:after,
.gap-4:before,
.gap-5:after,
.gap-5:before,
.gap-6:after,
.gap-6:before {
    content: '';
    display: table;
    clear: both;
}.gap-1 {
    height: 30px;
}.gap-2 {
    height: 40px;
}.gap-3 {
    height: 60px;
}.gap-4 {
    height: 80px;
}.gap-5 {
    height: 100px;
}.gap-6 {
    height: 120px;
}.navbar li > a {
    position: absolute;
    right: 5px;
    top: 0;
}.navbar li > a .icon-toggle{
    right: -3px;
}.scroll-top {
    cursor: pointer;
}/* Typography */
html {
    font-size: 16px;
}body {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}p,
blockquote {
    margin-bottom: 1.7rem;
}b, strong {
    font-weight: bold;
}/* headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Marcellus SC", serif;
    font-weight: bold;
    margin-bottom: 1rem;
}.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "Marcellus SC", serif;
    font-weight: bold;
}.display-1 {
    font-size: 4.7rem;
}.display-2 {
    font-size: 4.2rem;
}.display-3 {
    font-size: 3.7rem;
}.display-4 {
    font-size: 3.2rem;
}/* Title */
.title {
    position: relative;
    z-index: 1;
}/* Sub Title */
.sub-title {
    position: relative;
    font-weight: normal;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1rem;
    color: #e08821;
    z-index: 1;
}.title + .sub-title {
    margin-top: 1rem;
}/* Back title */
.title-back {
    color: inherit;
    font-size: 6rem;
    opacity: 0.1;
    margin-bottom: 0;
}.title-back + * {
    position: relative;
    margin-top: -40px;
}.title-back + .sub-title {
    margin-top: -50px;
}/* Title Separator */
.title-sep {
    display: block;
    margin: 30px auto;
    color: inherit;
    line-height: 0;
}.title-sep:after {
    content: '';
    width: 80%;
    max-width: 80px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted;
    opacity: 0.4;
}.title-sep-icon {
    display: block;
    margin: 30px auto;
    color: inherit;
    line-height: 0;
}.title-sep-icon .icon {
    font-size: 1.9rem;
    vertical-align: middle;
}.title-sep-icon:before, .title-sep-icon:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted;
    opacity: 0.4;
    width: 60px;
}.title-sep-icon:before {
    margin-right: 20px;
}.title-sep-icon:after {
    margin-left: 20px;
}/* mega menu titles */
.mega-item > .dropdown > ul li > label {
    font-family: "Marcellus SC", serif;
}/*  Responsive embeds */
.responsive-embed {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0;
    padding: 0;
    clear: both;
}.responsive-embed.responsive-embed-16x9 {
    padding-bottom: 56.25%;
}.responsive-embed.responsive-embed-4x3 {
    padding-bottom: 75%;
}.responsive-embed > .embed-item,
.responsive-embed > iframe,
.responsive-embed > embed,
.responsive-embed > object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}/*  Keyboard Key */
.keyboard {
    display: inline-block;
    height: 30px;
    min-width: 30px;
    line-height: 28px;
    padding: 0 7px;
    text-align: center;
    margin: 5px;
    font-size: 12px;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    background-color: #fff;
    color: #0e0e0e;
}
/*  Page Border */
.page-border .page-border-t,
.page-border .page-border-r,
.page-border .page-border-b,
.page-border .page-border-l {
    position: fixed;
    z-index: 2000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    user-drag: none;
    pointer-events: none;
    background-size: 100% 100%;
}.page-border .page-border-t,
.page-border .page-border-b {
    left: 0;
    width: 100%;
}.page-border .page-border-t {
    top: 0;
    background-image: url("../images/border-top.png");
}.page-border .page-border-b {
    bottom: 0;
    background-image: url("../images/border-bottom.png");
}.page-border .page-border-r,
.page-border .page-border-l {
    top: 0;
    height: 100%;
}.page-border .page-border-r {
    right: 0;
    background-image: url("../images/border-right.png");
}.page-border .page-border-l {
    left: 0;
    background-image: url("../images/border-left.png");
}.page-border .page-border-t,
.page-border .page-border-b {
    height: 100px;
}.page-border .page-border-r,
.page-border .page-border-l {
    width: 100px;
}@media (max-width: 543px) {
    .page-border .page-border-t,
    .page-border .page-border-b {
        height: 50px;
    }
    .page-border .page-border-r,
    .page-border .page-border-l {
        width: 50px;
    }
}
/* Header */
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}.header.header-opaque {
    position: relative;
}/* Logo Top */
.logo-top {
    position: relative;
    text-align: center;
    padding: 70px 10px;
}.logo-top.logo-top-light, .logo-top.logo-top-light.logo-top-solid {
    color: #0e0e0e;
    background-color: rgba(255, 255, 255, 0.85);
}.header-opaque .logo-top.logo-top-light {
    background-color: #fff;
}.logo-top.logo-top-transparent {
    background-color: transparent;
}.logo-top, .logo-top.logo-top-solid {
    background-color: rgba(14, 14, 14, 0.75);
}.header-opaque .logo-top {
    background-color: #0e0e0e;
}.header-opaque {
    background-color: #060606;
}/* Cart */
.cart {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #0e0e0e;
    opacity: 0;
    z-index: 999;
}.cart .cart-total {
    font-size: 1.4rem;
    font-style: italic;
}.cart .cart-total > span {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
}.cart .cart-total,
.cart .cart-btns {
    text-align: center;
}.cart.cart-light {
    color: #0e0e0e;
    background-color: #fff;
}/* Header Title */
.header-title {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 75px;
    margin: 0 auto;
    background-color: #0e0e0e;
    z-index: 0;
}.header-title.header-title-boxed {
    max-width: 1250px;
}.header-title .header-table {
    height: 350px;
}.header-title.header-title-lg .header-table {
    height: 550px;
}
.header-title .header-table {
    display: table;
    width: 100%;
}.header-title .header-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 60px 0;
}
.header-title .header-text-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(14, 14, 14, 0.4);
}/* Footer */
.footer {
    position: relative;
    color: #eee;
    background-color: #000;
    z-index: 1;
}.footer-top-corner {
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    max-height: 250px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    user-drag: none;
    pointer-events: none;
}.footer-links > span {
    margin-left: 10px;
    margin-right: 10px;
}/* Elements */
/* Buttons */
.btn {
    display: inline-block;
    position: relative;
    border: none;
    padding: 12px 30px;
    font-family: "Marcellus SC", serif;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
    border-radius: 2px;
    background-color: rgba(14, 14, 14, 0.9);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: .3s box-shadow, .3s background-color, .3s color, .3s transform;
}.btn, .btn:hover, .btn.hover, .btn:active, .btn.active, .btn:focus {
    text-decoration: none;
    color: inherit;
}.btn:hover, .btn.hover {
    background-color: #0e0e0e;
    box-shadow: 0 5px 15px 0 rgba(14, 14, 14, 0.4);
    -ms-transform: translateY(-2px);
        transform: translateY(-2px);
}.btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    border: 1px solid;
    border-radius: 0;
    transition: .3s background-color, .3s border-color;
    z-index: 1;
}.btn-lg {
    padding: 14px 36px;
}.btn-lg.btn-icon {
    padding: 14px;
}.btn-color-main-1 {
    color: #e08821;
}.btn-color-main-1, .btn-color-main-1:after, .btn-color-main-1:before {
    border-color: #b56d19;
}.btn-color-main-1:hover, .btn-color-main-1.hover {
    color: #e08821;
}.btn-color-main-1:active, .btn-color-main-1.active {
    color: #885213;
}
/* Element Content Boxes */
.box,
.box-2 {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}.box-2{
    padding: 40px;
}/* line between boxes
   Used JS code to add .box-line-top and .box-last classnames */
.box-line:before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    right: 0;
    border-left: 1px solid;
    opacity: 0.07;
}.box-line.box-line-top:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 2rem;
    right: 2rem;
    border-bottom: 1px solid;
    opacity: 0.07;
}.box-line.box-last:before {
    content: none;
}/* Element Counters */.counter-3 {
    position: relative;
}.counter-3 .count {
    font-family: "Marcellus SC", serif;
    font-weight: bold;
}.counter-3 .counter-icon {
    color: #e08821;
    font-size: 3rem;
    line-height: 1;
}.counter-3 .count {
    font-size: 3rem;
    line-height: 3;
}.counter-3 .counter-title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    line-height: 1;
}/* Element Forms */
/* Placeholders */
::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}
::-moz-placeholder,
.form-control::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}
:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}
::placeholder,
.form-control::placeholder {
    color: inherit;
    opacity: 0.5;
}
/* From Style 1 */
.form-control {
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #404040;
    transition: .3s border, .3s color;
    background: none;
    color: inherit;
}.form-control:focus, .form-control.focus, .form-control:active {
    color: inherit;
    background: none;
    border-bottom: 1px solid #fff;
}select.form-control {
    padding: 6px 20px;
}select.form-control option {
    color: #000;
}@-moz-document url-prefix() {
    select.form-control option {
        color: inherit;
    }
}select.form-control[multiple] option {
    color: inherit;
}.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 0.4;
}.input-group-btn {
    display: table-cell;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
}/* Validation */
div.error {
    font-weight: normal;
    background-color: transparent;
    color: #D9534F;
    padding: 0;
    margin: 5px 0;
    z-index: 1;
}.form-control.error,
.form-style-1 .form-control.error {
    border-bottom: 1px solid #D9534F;
}.form-response-success {
    display: none;
    color: #5CB85C;
    margin-bottom: 10px;
}.form-response-error {
    display: none;
    color: #D9534F;
    margin-bottom: 10px;
}/* Countdown */
.countdown {
    width: 100%;
    text-align: center;
}.countdown > div {
    display: inline-block;
    min-width: 140px;
    padding: 10px 0;
}.countdown > div > span {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Marcellus SC", serif;
    padding-bottom: 15px;
}@media (max-width: 767px) {
    .countdown > div {
        min-width: 85px;
    }
    .countdown > div > span {
        font-size: 2.4rem;
    }
}/*  Link Effects */
.lieffect {
    font-style: italic;
    font-family: serif;
    background-image: linear-gradient(to bottom, transparent 0, #0e0e0e 0), linear-gradient(to top, #fff 0, #fff 1px, transparent 1.0001px, transparent 100%);
    background-size: 0 1.4em, 100% 1.4em;
    background-position: right center;
    background-repeat: no-repeat;
    transition: .3s background-size;
    padding: 5px;
}.lieffect, .lieffect:hover, .lieffect:focus, .lieffect:active {
    color: inherit;
    text-decoration: none;
}.lieffect:hover, .lieffect.hover {
   
}
.lieffect-4 .lieffect-inner {
    display: inline-block;
    position: relative;
}.lieffect-4 .lieffect-inner:after {
   
}.lieffect-4 .lieffect-inner .lieffect-shade {
    opacity: 0;
}.lieffect-4 .lieffect-inner .lieffect-l,
.lieffect-4 .lieffect-inner .lieffect-r {
    position: absolute;
    overflow: hidden;
    top: -50%;
    
}.lieffect-4 .lieffect-inner .lieffect-l > span,
.lieffect-4 .lieffect-inner .lieffect-r > span {
    display: inline-block;
    -ms-transform: translateY(50%);
        transform: translateY(50%);
}.lieffect-4 .lieffect-inner .lieffect-r {
    top: 50%;
}.lieffect-4 .lieffect-inner .lieffect-r > span {
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}.lieffect-4:hover .lieffect-inner:after,
.lieffect-4.hover .lieffect-inner:after {
    -ms-transform: scaleX(1);
        transform: scaleX(1);
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;
}.lieffect-4:hover .lieffect-inner .lieffect-l,
.lieffect-4.hover .lieffect-inner .lieffect-l {
    -ms-transform: translateX(0px);
        transform: translateX(0px);
}.lieffect-4:hover .lieffect-inner .lieffect-r,
.lieffect-4.hover .lieffect-inner .lieffect-r {
    -ms-transform: translateX(0px);
        transform: translateX(0px);
}
.account-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-links ul > li > a {
    display: block;
    padding: 6.5px 0;
    margin: 10px 0;
    transition: .2s color;
}

.account-links ul > li > a, .account-links ul > li > a:hover, .account-links ul > li > a:active, .account-links ul > li > a:focus {
    text-decoration: none;
    color: inherit;
}

.account-links ul > li > a:hover {
    color: #999999;
}

.account-links ul > li.active > a {
    color: #e08821;
}

/* Sidebars */
.sidebar {
    padding-left: 40px;
}

.container-fluid > .row > div > .sidebar.sidebar-left {
    padding-left: 25px;
}

.container-fluid > .row > div > .sidebar.sidebar-right {
    padding-right: 25px;
}

.sidebar.sidebar-left {
    padding-left: 0;
    padding-right: 40px;
}

@media (max-width: 991px) {
    .sidebar, .sidebar.sidebar-left {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}